In [1]:
# Import the dependencies.
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import json

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marsh Harbour,BS,2022-01-02 13:09:55,26.5412,-77.0636,75.11,74,0,13.38
1,1,Rikitea,PF,2022-01-02 13:09:55,-23.1203,-134.9692,77.02,71,35,8.48
2,2,Yellowknife,CA,2022-01-02 13:05:21,62.4560,-114.3525,-13.86,91,100,8.52
3,3,Hobart,AU,2022-01-02 13:09:56,-42.8794,147.3294,56.26,94,90,1.01
4,4,Soe,ID,2022-01-02 13:09:57,-9.8607,124.2840,68.50,95,61,2.08

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# # Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Wind speed of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marsh Harbour,BS,2022-01-02 13:09:55,26.5412,-77.0636,75.11,74,0,13.38
1,1,Rikitea,PF,2022-01-02 13:09:55,-23.1203,-134.9692,77.02,71,35,8.48
6,6,Castro,BR,2022-01-02 13:09:58,-24.7911,-50.0119,77.85,58,0,3.29
7,7,Chuy,UY,2022-01-02 13:09:59,-33.6971,-53.4616,80.44,61,100,9.91
9,9,Atuona,PF,2022-01-02 13:10:00,-9.8000,-139.0333,78.28,74,2,19.66
13,13,Lorengau,PG,2022-01-02 13:10:03,-2.0226,147.2712,81.46,78,93,7.90
18,18,Maxixe,MZ,2022-01-02 13:10:06,-23.8597,35.3472,87.62,66,20,16.11
19,19,Atar,MR,2022-01-02 13:10:06,20.5169,-13.0499,82.38,10,0,17.98
24,24,Vaini,TO,2022-01-02 13:10:09,-21.2000,-175.2000,75.36,94,75,5.75
25,25,Butaritari,KI,2022-01-02 13:10:10,3.0707,172.7902,81.09,67,100,8.79

In [11]:
preferred_cities_df.count()

City_ID       177
City          177
Country       176
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0   Marsh Harbour      BS     75.11  26.5412  -77.0636
1         Rikitea      PF     77.02 -23.1203 -134.9692
6          Castro      BR     77.85 -24.7911  -50.0119
7            Chuy      UY     80.44 -33.6971  -53.4616
9          Atuona      PF     78.28  -9.8000 -139.0333
13       Lorengau      PG     81.46  -2.0226  147.2712
18         Maxixe      MZ     87.62 -23.8597   35.3472
19           Atar      MR     82.38  20.5169  -13.0499
24          Vaini      TO     75.36 -21.2000 -175.2000
25     Butaritari      KI     81.09   3.0707  172.7902

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 10.211698, 'lng': 119.247503},
    'viewport': {'northeast': {'lat': 10.2133676802915, 'lng': 119.24821425},
     'southwest': {'lat': 10.2106697197085, 'lng': 119.24536925}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Peace and Love Beach Club',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1530,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115705892718671864651">Peace and Love Beach Club</a>'],
     'photo_reference': 'Aap_uEC_a7tJ5t8HRSupo1Sk7lNs8EVOpX1g3nAVWfvBy8gzFkv0c8E3pjkVjZSfuHmOi5sDTcK4VFl-FBKxI8zq09NhC_D3_zc5Jcnzw899SskFHJpF3wwMV6x7pmd5hB7aBr64ji_DbEQdV2VrupCXja7w0Tfq9r8GxfLI-KbhhRUh2WuM',
     'width': 2048}],
   'place_id': 'ChIJd25Dwpu3tTMRmNbsUibacKI',
   'plus_code': {'compound_code': '666X+M2 Roxas, Palawan, Philippines',
    'global_code': '7P2X666X+M2'},
   'rating': 3.8,
   'reference': 'ChIJd25Dwpu3tTMRmNbsUibacKI',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'lodging',
    'travel_agency',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 19,
   'vicinity': 'Romantic Palm Street Brgy, Salvacion, Roxas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 10.1726384, 'lng': 119.2296549},
    'viewport': {'northeast': {'lat': 10.1741639802915,
      'lng': 119.2306128302915},
     'southwest': {'lat': 10.1714660197085, 'lng': 119.2279148697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Belles Beach House',
   'photos': [{'height': 3265,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107651733451963328000">Michal Kolínek</a>'],
     'photo_reference': 'Aap_uECil73eC3O4RnCLIrDAAd2wVP8SgzBEd5cVDDqnbbnqV1nqZARNPOnG3mxn1dcDfJ4-SgzNsPJUfcnuLO189SfD4URStmH2tagcD0Lt0s92ayqrFEw2q-h_XAwIvv9AEchADcM6PvVi9-uyRx37EP2jvwgmH-gYDA7EGZPKB5TwpzV2',
     'width': 4898}],
   'place_id': 'ChIJZdS_H4S5tTMRnex9II7wP_M',
   'plus_code': {'compound_code': '56FH+3V Roxas, Palawan, Philippines',
    'global_code': '7P2X56FH+3V'},
   'rating': 5,
   'reference': 'ChIJZdS_H4S5tTMRnex9II7wP_M',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 4,
   'vicinity': 'Unnamed Road, Roxas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 10.201406, 'lng': 119.248352},
    'viewport': {'northeast': {'lat': 10.20275498029151,
      'lng': 119.2497009802915},
     'southwest': {'lat': 10.2000570197085, 'lng': 119.2470030197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Tabuyo Beach Resort',
   'place_id': 'ChIJCy4UbHG3tTMR8CB1ZdgZKio',
   'plus_code': {'compound_code': '662X+H8 Roxas, Palawan, Philippines',
    'global_code': '7P2X662X+H8'},
   'reference': 'ChIJCy4UbHG3tTMR8CB1ZdgZKio',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'sitio Tabuyo,Caramay,Roxas, Palawan, Philippines, Caramay, Roxas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 10.1541415, 'lng': 119.2276337},
    'viewport': {'northeast': {'lat': 10.1554865802915,
      'lng': 119.2289474802915},
     'southwest': {'lat': 10.1527886197085, 'lng': 119.2262495197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Solina FAMILY',
   'place_id': 'ChIJY0woiPe7tTMRm96Ac-MR0hg',
   'reference': 'ChIJY0woiPe7tTMRm96Ac-MR0hg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': '563H+M32, Roxas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 10.218301, 'lng': 119.251375},
    'viewport': {'northeast': {'lat': 10.2198163302915,
      'lng': 119.2522104802915},
     'southwest': {'lat': 10.2171183697085, 'lng': 119.2495125197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'GURU PALAWAN BEACH CLUB/ PEACE&LOVE BC',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113580355347150752140">GURU PALAWAN BEACH CLUB/ PEACE&amp;LOVE BC</a>'],
     'photo_reference': 'Aap_uEANHb5YQy5A8roqS4pHB6ePbI0_F6rb23u2x3HYn67Geswiu3rSXVw5S5TrXCim0qGh3xlsM-dHQ_59Xv11hWC5s8PfVaEtRJTi6TLvg3GN3H-PTzO_Z1W-uZKDJeNMdMTCVgtpmoczXcwVz2E5w_XRLKOo2Ue_nBzNriHwSFX7HYOS',
     'width': 3247}],
   'place_id': 'ChIJeUnFZZe3tTMRJcffJU0bpZk',
   'plus_code': {'compound_code': '6792+8G Roxas, Palawan, Philippines',
    'global_code': '7P2X6792+8G'},
   'reference': 'ChIJeUnFZZe3tTMRJcffJU0bpZk',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'lodging',
    'travel_agency',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'vicinity': 'ROXAS, SALVASION'}],
 'status': 'OK'}

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Marsh Harbour,BS,75.11,26.5412,-77.0636,Abaco Beach Resort
1,Rikitea,PF,77.02,-23.1203,-134.9692,People ThankYou
6,Castro,BR,77.85,-24.7911,-50.0119,CHACARA BAILLY
7,Chuy,UY,80.44,-33.6971,-53.4616,Nuevo Hotel Plaza
9,Atuona,PF,78.28,-9.8000,-139.0333,Villa Enata
13,Lorengau,PG,81.46,-2.0226,147.2712,Lorengau Harbourside Hotel
18,Maxixe,MZ,87.62,-23.8597,35.3472,Oceano
19,Atar,MR,82.38,20.5169,-13.0499,Oumou Elghoura
24,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
25,Butaritari,KI,81.09,3.0707,172.7902,Isles Sunset Lodge

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=0,
             max_intensity=100, point_radius=2)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))