## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Butaritari,KI,80.85,3.0707,172.7902,Isles Sunset Lodge
1,4,Rikitea,PF,77.16,-23.1203,-134.9692,People ThankYou
2,12,Cidreira,BR,79.81,-30.1811,-50.2056,Hotel Castelo
3,14,Xuddur,SO,80.74,4.1213,43.8894,Banjanay Hotel
4,15,Atuona,PF,78.64,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Contry Code</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Prompt the user to enter a vacation itinerary
vacation_start = input("Which is the starting/ending city for your vacation? ")
vacation_end = vacation_start
vacation_stop1 = input("which would be the first stop? ")
vacation_stop2 = input("which would be the second stop? ")
vacation_stop3 = input("which would be the third stop? ")

Which is the starting/ending city for your vacation? Itamaraca
which would be the first stop? Esperanca
which would be the second stop? Touros
which would be the third stop? Natal

In [6]:
# Simulated selection by user
# Itamaraca
# Esperanca
# Touros
# Natal

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_startb = vacation_df.loc[vacation_df["City"] == vacation_start]
vacation_endb = vacation_df.loc[vacation_df["City"] == vacation_end]
vacation_stop1b = vacation_df.loc[vacation_df["City"] == vacation_stop1]
vacation_stop2b = vacation_df.loc[vacation_df["City"] == vacation_stop2] 
vacation_stop3b = vacation_df.loc[vacation_df["City"] == vacation_stop3]

In [15]:
vacation_endb

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
118,437,Itamaraca,BR,84.88,-7.7478,-34.8256,Special K's Bed & Breakfast

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_startb["Lat"].to_numpy()[0], vacation_startb["Lng"].to_numpy()[0]
end = vacation_endb["Lat"].to_numpy()[0], vacation_endb["Lng"].to_numpy()[0]
stop1 = vacation_stop1b["Lat"].to_numpy()[0], vacation_stop1b["Lng"].to_numpy()[0]
stop2 = vacation_stop2b["Lat"].to_numpy()[0], vacation_stop2b["Lng"].to_numpy()[0]
stop3 = vacation_stop3b["Lat"].to_numpy()[0], vacation_stop3b["Lng"].to_numpy()[0]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1)

# Create a vacation itinerary Layer
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode= "DRIVING"
)

fig.add_layer(vacation_itinerary)


# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_startb, vacation_stop1b, vacation_stop2b, vacation_stop3b],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,437,Itamaraca,BR,84.88,-7.7478,-34.8256,Special K's Bed & Breakfast
1,403,Esperanca,BR,78.87,-7.0331,-35.8572,Pousada BanabuiÃª
2,48,Touros,BR,85.10,-5.1989,-35.4608,INN NEW HORIZON
3,178,Natal,BR,86.22,-5.7950,-35.2094,Villa Park Hotel | Natal

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Contry Code</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level = 1)

# Create a marker Layer
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig2.add_layer(marker_layer)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))